/* css columns view for child blocks by cannibalox v20210220 */
/* use: inline tag #kanban, #kanban-small or #kanban-wXXX    */
/* try:  #kanban-w200,#kanban-w300, #kanban-w400             */

div[data-refs-self*="kanban"] > .block-children {
	display: inline-flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 10px;
	}
div[data-refs-self*="kanban"] >.block-children > div {
	display: inline-block;
	width: 400px;
	padding-right: 3px;
	}

/* wide */
div[data-refs-self*="kanban-wide"] > .block-children  {
	max-width: 200vw ;
	width: 100%;
	min-width: 92vw;
	left: 50%;
	transform: translate(-50%);
	background-color: var(--ls-secondary-background-color);
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 10px;
	}
div[data-refs-self*="kanban-wide"] >.block-children > .ls-block {
	display: inline-block;
	min-width: 200px;
	padding-right: 3px;
	font-size: 0.85rem;
	}
div[data-refs-self*="kanban-wide"] >.block-children > div {
border-right: 1px solid #fff;
	}



/* #kanbansmall : smaller font with hover zoom */
div[data-refs-self*="kanban-small"] > .block-children .block-content {
	font-size: 11px;
	font-weight: 300;
}
div[data-refs-self*="kanban-small"] > .block-children .block-content:hover {
	font-size: 14px !important;
	min-width: 100px;
	margin: 0 10px;
}
/* #kanban-w[100-300] : force width of the columns */
div[data-refs-self*="kanban-w100"] > .block-children .block-content {
	width:100px;
}
div[data-refs-self*="kanban-w150"] > .block-children .block-content {
	width:150px;
}
div[data-refs-self*="kanban-w200"] > .block-children .block-content {
	width:200px;
}
div[data-refs-self*="kanban-w300"] > .block-children .block-content {
	width:300px;
}
div[data-refs-self*="kanban-w300"] > .block-children {
	border: 1px solid var(--ls-block-bullet-border-color);
	padding: 10px 0;
}
div[data-refs-self*="kanban-w400"] > .block-children .block-content {
	width:380px;
}